.pageContent {
    padding: 72px 0 56px 0;

    .header {
        font-family: 'Sora';
        font-weight: 400;
        font-size: 36px;
        margin: 1rem 5px 5px 5px;
    }

    .subHeader {
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 14px;
        color: $stone-gray;
        margin: 0px 5px 1rem 5px;
    }
}