.productImagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .collectionItems {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 1rem;
        align-items: center;

        .collectionItemSelected {
            width: 250px;
            height: 250px;
            border: 2px solid $obsidion;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 5px;
            position: relative;

            .deleteIcon {
                color: $tangerine;
                position: absolute;
                top: 0;
                right: 0;
                margin: 5px;
            }

            img {
                height: 200px;
                cursor: 'pointer';
            }
        }
    }
}