.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform ease 300ms;

    .productHeaderContainer {
        width: 100%;
        display: flex;
        flex-direction: row;

        .productSubHeaderContainer {
            flex-grow: 1;

            p {
                margin: 0;
                font-size: 10px;
                font-family: 'Poppins';
                font-weight: 400;
            }
        }
    }

    .productImage {
        height: 180px;
        padding: 10px;
    }

    .productDecriptionContainer {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-family: 'Poppins';
            font-weight: 200;
            font-size: 16px;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
            text-align: center;
        }

        h2 {
            font-family: 'Sora';
            font-weight: 600;
            font-size: 16px;
            margin: 0;
        }

        p {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 12px;
            margin: 0;
        }

        .productButtonContainer {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: center;
            align-items: center;

            .productButton {
                margin: 5px;
                color: white;
                background: black;
                font-size: 12px;
                padding: 1rem;
            }
        }
    }
}

.published {
    background: green !important;
    color: white !important;
    font-family: 'Poppins' !important;
    font-weight: 400 !important;
    font-size: 12px !important;
}

.unpublished {
    background: $tangerine !important;
    color: white !important;
    font-family: 'Poppins' !important;
    font-weight: 400 !important;
    font-size: 12px !important;
}