.overviewContainer {
    padding: 1rem;

    .amount {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 2rem;
        margin: 0;
    }

    .date {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 1rem;
        margin: 0;
    }

    .status {
        font-family: 'Sora';
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
    }
}